.join{
    background: #604AE7;
    padding: 5rem 7rem;
    color: white;
    margin: 2rem 0 10rem;
}

.join h2{
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
}

.join p, .join button{
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

.join p{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.join button{
    border-radius: 1rem;
    padding: 1rem 5rem;
    margin-right: 2rem;
}