.join {
  background: #604ae7;
  padding: 5rem 5rem;
  color: white;
}

.join h2 {
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 63px;
}

.join p,
.join button {
  font-size: 1.05rem;
  line-height: 34px;
}

.join p {
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.join button {
  border-radius: 0.4rem;
  padding: 1rem;
  margin-right: 2rem;
}

@media (max-width: 860px) {
  .join {
    padding: 3rem 3rem;
    color: white;
  }

  .join h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 58px;
  }

  .join p,
  .join button {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .join p {
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .join button {
    padding: 1rem 2rem;
    margin-right: 1rem;
  }
}

@media (max-width: 650px) {
  .join {
    padding: 3rem 3rem;
    color: white;
  }

  .join h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }

  .join p,
  .join button {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  .join p {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .join button {
    padding: 1rem 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
