@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

.container {
  max-width: 95%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

button:hover,
.box:hover {
  color: white;
}

section {
  padding: 0 1rem;
}

.btn_shadow {
  padding: 18px 25px;
  border-radius: 6px;
  transition: 0.5s all ease;
  cursor: pointer;
  color: #000;
}

.btn_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffff;
}

.box_shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffff);
  box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #ffff;
  border-radius: 10px;
}

.row,
.left,
.right {
  width: 50%;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 20px;
}

.heading {
  margin: 50px 0;
}

.heading h4 {
  color: var(--primary-clr);
  letter-spacing: 2px;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.text-center {
  text-align: center;
}

.box h2 {
  margin: 20px 0;
}

.box p {
  word-spacing: 2px;
  transition: 0.5s;
}

.box i {
  font-size: 30px;
  margin-top: 20px;
  transition: 0.5s;
  opacity: 0;
}

.box:hover i {
  opacity: 1;
  color: white;
}

textarea,
input {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: 3px solid #e2e8ec;
  margin-bottom: 20px;
}

footer {
  margin: 20% 0 10% 0;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .left,
  .right {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .heading h1 {
    font-size: 2.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

body,
button,
li,
a {
  font-family: "Poppins";
}

.flex {
  display: flex;
  align-items: center;
}
