@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
}

body, button, li, a{
  font-family: 'Poppins';
}

.flex{
  display: flex;
  align-items: center;
}